<h2>Assignments Admin</h2>

<%= page_entries_info @assignments %></br></br>
<table class="table table-striped">
  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td nowrap class="text-right"><%= styled_tag(assignment.tag) %></td>
        <td class="link-alt">
          <%= link_to (assignment.assignable.try(:title) || assignment.title) , assignment %>
          <span class="small">Assigned <%= time_ago(assignment.created_at) %></span>
        </td>
        <td><span class="badge"><%= assignment.status %></span></td>
        <td><%= link_to User.find(assignment.to_id).username , User.find(assignment.to_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @assignments %>
