<h2>Administration Deck</h2>
<div class="alert alert-danger">
Welcome to the Sayaahi administration deck.
</div>

<table class="table table-striped">

<%= content_tag :tr do %>
<td style="width:20px;"><span class="badge bg-red"><%= @articles_count %></span></td>
<td><%= link_to "Articles" , admin_articles_path %></td>
<td>List of articles pending editor review.</td>
<% end if can? :update , Article %>

<%= content_tag :tr do %>
<td><span class="badge bg-red"><%= @comments_count %></span></td>
<td><%= link_to "Comments" , admin_comments_path %></td>
<td>Guest comments pending moderator approval.</td>
<% end if can? :update , Comment %>

<%= content_tag :tr do %>
<td><span class="badge bg-red"></span></td>
<td><%= link_to "Assignments (disabled)" , '#' %></td>
<td>List of assignments to all voluteers</td>
<% end if can? :manage , Assignment %>

<%= content_tag :tr do %>
<td><span class="badge bg-red"></span></td>
<td><%= link_to "Pages" , pages_path %></td>
<td>Special pages</td>
<% end if can? :update , Page %>

<%= content_tag :tr do %>
<td><span class="badge bg-red"></span></td>
<td><%= link_to "Categories" , admin_categories_path %></td>
<td>Content categories</td>
<% end if can? :update , Category %>

<%= content_tag :tr do %>
<td><span class="badge bg-red"></span></td>
<td><%= link_to "Updates" , updates_path %></td>
<td>Textual updates with attached promo material.</td>
<% end if can? :mail , User %>

<%= content_tag :tr do %>
<td><span class="badge bg-red"></span></td>
<td><%= link_to "Errors" , admin_errors_path %></td>
<td>A basic error dashboard.</td>
<% end if can? :mail , User %>

<%= content_tag :tr do %>
<td><span class="badge bg-red"></span></td>
<td><%= link_to "Stats/Analytics" , admin_stats_path %></td>
<td>Internal Analytics.</td>
<% end %>

<%= content_tag :tr do %>
<td><span class="badge bg-red"></span></td>
<td><%= link_to "Task types" , admin_task_types_path %></td>
<td>Define the tasks that can be assigned to the teammates.</td>
<% end if can? :mail , User %>

<%= content_tag :tr do %>
<td><span class="badge bg-red"></span></td>
<td><%= link_to "Mailer" , newsletters_path %></td>
<td>A primitive WYSIWYG mailer (Use only in emergency).</td>
<% end if can? :mail , User %>

</table>
