<h2>Admin > Comments Queue &nbsp
  <div class="clearfix visible-xs-block"></div>
	<%= link_to "Show Pending" , admin_comments_path(show: "pending"), class: 'btn btn-default'%>
	<%= link_to "Show Rejected" , admin_comments_path(show: "rejected") , class: 'btn btn-default' %>
	<%= link_to "Show All" , admin_comments_path(show: "all"), class: 'btn btn-default'%>
</h2>

<table class="table table-striped">
	<% @comments.each do |a| %>
	<tr>
		<td class="col-sm-7"><%= link_to truncate( a.body , length: 80 ), admin_comment_path(a) %></td>
		<td class="col-sm-2"><%= a.user ? a.user.username : a.name %></td>
		<td class="col-sm-2"><%= pretty_created_at(a) %></td>
		<td class="col-sm-1"><div class="badge"><%= a.workflow_state %></div></td>
	</tr>
	<% end %>
</table>

<% if @comments.blank? %>
	<h1>Nothing to show :)</h1>
<% end %>