<h2><%= link_to "Admin" , admin_root_path %> > 
<%= link_to "Comments" , admin_comments_path %> > Edit <div class="badge"><%= @comment.workflow_state %></div></h2>

<%= bootstrap_form_for @comment , layout: :horizontal , label_col: "col-md-1" do |f| %>
	<%= f.text_area :body %>
	<% if @comment.user_id %>
		<%= f.form_group do %>By <%= link_to @comment.user.username , @comment.user %><% end %>
	<% else %>
		<%= f.text_field :name %>
		<%= f.text_field :email %>
	<% end %>
	<%= f.form_group do %>
		<%= f.submit %>
		<%= link_to 'Accept' , accept_comment_path , class: "btn btn-success" unless @comment.accepted? %>
		<%= link_to 'Reject' , reject_comment_path , class: "btn btn-danger" unless @comment.rejected? %>
	<% end %>
<% end %>