<h2>Resend confirmation instructions</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.text_field :login, autofocus: true %></div>

  <%= f.submit "Resend confirmation instructions" %>
<% end %>

<%= render "devise/shared/links" %>
