/////////////////////////////////////////////////
///  SUGAR STYLES
///   Used for creation of colorized badges,
///   icon etc. Uses sugar mixins.
////////////////////////////////////////////////

// .category-badge not currently being used
// .tag being used to show styled tags on assignmnents page
.category-badge, .tag{
  background-color: #ccc;
  border-radius: 3px;
  padding: 3px 7px;
  display: inline-block;
  font-family: 'adam.cg';
  color: #000;
  font-size: 12px;
}

.tag:before{
  margin-right: 5px;
}

// Used on Homepage to show node categories as icons
.category-mini-badge{
  vertical-align: text-top;
  height: 23px; width: 23px; line-height: 23px;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  color: rgba(255,255,255,0.8);
  margin-right: 5px;
  border-radius: 50%;
  cursor: pointer;
}

// Used in Activity feeds
.icon{
  width: 35px; height: 35px; line-height: 35px; border-radius: 50%;
  font-size: 20px;
  text-align: center;
  display: none;
  background-color: #666;
  color: #fff;
  margin-right: 10px;
  white-space: nowrap;
}

// Used in Activity feeds
.activity{
  padding: 10px;
  background-color: #eee;
  border: 1px  solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  min-height: 58px;
  display: table;
  width: 100%;
  text-align: left;
  position: relative;
  p{margin-bottom: 0px;font-size: 13px;}
  .title{
    font-family: 'adam.cg';
    display: inline-block;
    margin-right: 10px;
  }
  .main{display: table-cell;vertical-align: middle;width: 100%;padding-right: 100px;}
  .time{color: #666;font-size: 11px;position:absolute;right:7px;top:10px;}
}

// Used in Workrooms
.workflow-btn{
  @extend .btn;
  @extend .btn-default;
  @extend .btn-sm;
}
