/* Set $icon to none if you need to skip icon rendering
/* The icon code provided must be valid or
/* a blank container will show up */

@mixin activity-variant($bg,$icon) {
  @if $bg != 'none' {
	  background-color: $bg;
	  $fg: default;
	  @if lightness($bg) > lightness(#aaaaaa){$fg: darken($bg,40); color: #000;}
	  @else {$fg: lighten($bg,40); color: #fff;}
	  .icon{color: $bg; background-color: $fg;}
	  .time{color: $fg}
    a{color: $fg;&:hover{color: darken($fg,10)}}
  }
  
  @if $icon != 'none' {.icon{display: inline-block;}}
  .icon:before{@include icon($icon);}
}

@mixin tag-variant($bg,$icon) {
  background-color: $bg;
  @if lightness($bg) > lightness(#aaaaaa)
    {color: #000;}
  @else
    {color: #fff;}
  &:before{
  	@include icon($icon);
  }
}

@mixin icon($fa_code){
	@extend .fa;
	@extend .fa-#{$fa_code}:before;
}
