<%= bootstrap_form_for @assignment , layout: :horizontal do |f| %>
    <%= f.text_field :title %>
    <%= f.hidden_field :assignable_type , value: 'Root' %>
    <%= f.collection_select :tag ,  Assignment.root_task_types, :key , :title, {label: 'Type'} , class: 'selectpicker' %>
    <%= f.collection_select :to_id ,  @teammates,
                                      :id, :username, {label: 'Assignee'} ,
                                      class: 'selectpicker' %>
    <%= f.text_field :deadline ,  "data-behaviour" => "futurepicker" ,
                                  placeholder: "yyyy-mm-dd" ,
                                  value: @assignment.deadline.try(:to_date) %>
    <%= f.text_area :body,  label: 'Remarks' ,
                            placeholder: 'Please add any extra remarks or guildelines for the editor here' %>
    <%= f.submit %>
<% end %>
