<div class="head", style="background-color: <%= @cat.color_light %>">
  <h4 class="pull-left"><%= link_to "Assignments Dashboard" , assignments_path %></h4>
  <span class="outlined pull-right"><%= @active_assignments.count %> active</span>
</div>

<div class="row">

<div class="col-sm-10">

<% @assignments.each do |a| %>
  <div class="assignment-entry row">
    <div class="text-right col-lg-2">
      <%= styled_tag(a.tag) %>
      <p class="small"><%= time_ago(a.created_at) %></p>
    </div>
    <div class="link-alt assignment-entry-main col-lg-10">
      <%= link_to(a.title , a) %>
      <%= time_left_badge(a.deadline) %>
      <p><%= a.body %></p>
      <% if a.assignable_type == "Article" %>
        <%= link_to fa_icon('sign-in' , text: 'Open Node') , a.assignable , class: 'btn btn-default btn-xs' %>
        <%= link_to workroom_article_path(a.assignable) , class: 'btn btn-default btn-xs' , disabled: a.disabled? do %>
          <%= fa_icon :flask , text: 'Workroom' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @assignments.blank? %>
  <div class= 'alert alert-info'>Nothing here.</div>
<% end %>
</div>

<div class="col-sm-2 vertical-list">
<%= tabs_tag do |tab| %>
  <%= tab.active 'Active' , q: 'active' %>
  <%= tab.expired 'Expired' , q: 'expired' %>
  <%= tab.refused 'Refused' , q: 'refused' %>
  <%= tab.all 'All' , q: 'all' %>
<% end %>
</div>

</div>
