<h1>New Assignment</h1>
<div class="alert alert-danger">
	You are creating a manual assignment which is not linked to a node. For node-linked assignments, please go to the workroom of respective node.
</div>
<%= render 'form' %>
