<div class="head", style="background-color: <%= @cat.color_light %>">
  <h4 class="pull-left"><%= link_to "Assignments Dashboard" , assignments_path %></h4>
</div>

<div class="col-lg-10">
  <h4 class="marginless-top"><b><%= @assignment.tag.capitalize %>:</b><h4>
    <% if @assignment.title == @assignment.assignable.try(:title) || !@assignment.assignable %>
      <h3 class="marginless-top"><%= @assignment.assignable ? link_to(@assignment.title , @assignment.assignable) : @assignment.title %></h3>
    <% elsif @assignment.assignable %>
      <h3 class="marginless-top subbed"><%= @assignment.title %></h3>
      <p class="marginless-top">For: <%= link_to @assignment.assignable.title , @assignment.assignable %></p>
    <% end %>
<%= content_tag :p , @assignment.body if @assignment.body.present? %>
<%= nested_comments @comments %>
<%= render 'comments/form' %>
</div>

<div class="col-lg-2">

  <div class="outlined outlined-dark">
    <%= @assignment.status %>
  </div>

  <p>
    <strong>Deadline:</strong></br>
    <%= @assignment.deadline.strftime('%d %B %Y') %>
  </p>

  <div class="vertical-links">
    <% if @assignment.open? && @assignment.deadline > Time.now %>
      <%= link_to 'Mark Completed' , workflow_assignment_path(do: 'complete') %>
      <%= link_to 'Excuse' , workflow_assignment_path(do: 'excuse') , data: {confirm: "Are you sure you wish to refuse to this assignment? You will lose access privileges to the related content"} %>
    <% end %>
  </div>

  <p class="small">
    Assigned to
    <% if current_user == @assignment.assignee %>
      you.
    <% else %>
      <%= link_to @assignment.assignee.username , @assignment.assignee %>
    <% end %>
  </p>

  <p class="smaller"><%= @assignment.guide_page.try(:teaser) %><b><%= link_to 'more', @assignment.guide_page if @assignment.guide_page %></p>
</div>
