<% @page_title = "Account Settings" %>
<h1>Account Settings</h1>

<%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name) , layout: :horizontal , label_col: "col-lg-2" , control_col: "col-lg-10" , html: {autocomplete: :off}) do |f| %>
    <%= f.text_field :username , placeholder:"Usernames cannot be changed later" , disabled: true %>
    <%= f.email_field :email, autofocus: true , placeholder:"Must be valid" %>
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <%= f.form_group :email_options ,label: { text: "Email options" } do %>
      <%= f.check_box :email_unread_notifications , label: "New Notifications" %>
      <%= f.check_box :email_new_messages_count, label: "New Messages" %>
      <%= f.check_box :email_site_updates, label: "Sitewide updates" %></br>
    <%= f.submit 'Save' , class:"btn btn-success" %>
    <% end %>
<% end %>
