<%# devise_error_messages! %>
<% @page_title = "Signup" %>
<h2>Sign up</h2>

<%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name) , layout: :horizontal , label_col: "col-lg-3" , control_col: "col-lg-8" , html: {autocomplete: :off}) do |f| %>
    <%= f.text_field :username , placeholder:"Usernames cannot be changed later" %>
    <%= f.text_field :dob , "data-behaviour"=>"datepicker", label: "Birthday" , placeholder: "yyyy/mm/dd" %>
    <%= f.select :gender , {'Female'=>'female','Male'=>'male'} , :prompt => "Select Gender" %>
    <%= f.text_area :body , id: "edit" , label: "About you" , placeholder: "In 40-2000 characters" %>
    <%= f.email_field :email, autofocus: true , placeholder:"Must be valid" %>
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <%= f.form_group :email_options ,label: { text: "Email options" } do %>
      <%= f.check_box :email_unread_notifications , label: "New Notifications" %>
      <%= f.check_box :email_new_messages_count, label: "New Messages" %>
      <%= f.check_box :email_site_updates, label: "Sitewide updates" %></br>
    <%= f.submit 'Sign up' , class:"btn btn-success" %>
    <% end %>
<% end %>
