<%= div_for comment , "data-id" => comment.id do %>
<%= comment.body %></br>
<div class="comment-footer">

  <% if comment.user %>
  <div class="avatar avatar-inline">
      <%= link_to image_tag(comment.user.avatar(:inline)) , comment.user %>
  </div>
  <%= link_to comment.user.username , comment.user %> <b>·</b> <%= time_ago(comment.created_at) %>
  
  <% else %>
  <div class="avatar avatar-inline"><%= image_tag(User.new.avatar(:inline)) %></div>
  <b><%= comment.name %></b> (guest) <b>·</b> <%= time_ago(comment.created_at) %>
  <% end %>

  <span class="pull-right">
  <%= link_to "Edit" , edit_comment_path(comment) if can? :update , comment %>&nbsp
  <%= link_to "Reply" , new_comment_path(parent_comment: comment.id) , class:"reply-link" , remote: true if can? :reply , comment %>
  <%= link_to "Close" , '#' , class:"close-link" , remote: true if can? :reply , comment%>
  </span>
</div>
<% end %>