<% if current_user %>
<%= bootstrap_form_for (@comment) do |f| %>
  <%= f.text_area :body , placeholder: "Comments must have 40-800 characters." , hide_label: true %>
  <%= f.hidden_field :commentable_type %>
  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :parent_id %>
  <%= f.submit 'Add Comment', class: "btn btn-primary btn-xs" %>
<% end %>

<% else %>
  <%= bootstrap_form_for (@comment) do |f| %>
    <%= f.text_area :body , placeholder: "Comments must have 40-800 characters." , hide_label: true %>
    <%= f.text_field :name , hide_label: true , placeholder: "Your name" %>
    <%= f.text_field :email ,hide_label:true , placeholder: "Your email" %>
    <%= f.hidden_field :commentable_type %>
    <%= f.hidden_field :commentable_id %>
    <%= f.hidden_field :parent_id %>
    <%= f.submit 'Add Comment', class: "btn btn-primary btn-xs" %>
  <% end %>

<% end %>