<div id="entryform">
  <%= render "form" %>
</div>

<div id="entries">
  <table class="table table-striped">
    <tbody>
      <% @entries.each do |entry| %>
        <tr>
          <td><%= Texty.new(entry.body).tags_autolink.html_safe %></td>
          <td><%= link_to entry.user.username , entry.user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
