<h2>Admin > Articles Queue &nbsp
  <div class="clearfix visible-xs-block"></div>
	<%= link_to "Unassigned" , admin_articles_path(show: "pending"), class: 'btn btn-sm btn-default'%>
	<%= link_to "Assigned" , admin_articles_path(show: "assigned"), class: 'btn btn-sm btn-default'%>
	<%= link_to "Rejected" , admin_articles_path(show: "rejected") , class: 'btn btn-sm btn-default' %>
	<%= link_to "Show All" , admin_articles_path(show: "all"), class: 'btn btn-sm btn-default'%>
</h2>

<table class="table table-striped">
	<% @articles.each do |a| %>
	<tr>
		<td class="col-sm-7"><%= link_to a.title , a %></td>
		<td class="col-sm-2"><%= a.user.username %></td>
		<td class="col-sm-2"><%= pretty_created_at(a) %></td>
		<td class="col-sm-1"><div class="badge"><%= a.workflow_state %></div></td>
	</tr>
	<% end %>
</table>

<% if @articles.blank? %>
	<h1>Nothing to show :)</h1>
<% end %>
