<div class="row">
<div class="col-sm-2 hidden-sm">
	<div id="index_left" style="background-color: <%= @cat.color_dark || "#333" %>" >
	  <%= fa_icon @cat.icon , class: 'fa-5x' %>
	  <h1><%= @cat.name %></h1>
	  <p><%= @cat.description %></p>
	</div>

	<%# Later on, we do not want to hiden advertisements on any views %>
	<div id="subindex_left" class="hidden-xs hidden-sm" style="background-color: <%= @cat.color_light || "#ccc" %>">
    <p>Got anything?</p>
    <%= link_to "Post Now" , new_article_path(cat: @cat.id) , class:"btn btn-primary" %>
  </div>
</div>

<div class="col-sm-8 col-md-7 col-lg-6">
<%= yield %>
</div>

<div class="col-sm-4 col-md-3 col-lg-4 pull-right">
	<div id="ad" class="hidden-sm" "><%= render 'shared/ads' %></div>
	<% unless @hide_sidebar == true %>
		<div id="index_right" class="col-xs-12" style="background-color: <%= @cat.color_light || "#ccc" %>" >
			<%= content_for?(:index_right) ? yield(:index_right) : @cat.intro.html_safe %>
		</div>
	<% end %>
	<div id="subindex_right" class="col-xs-12"><%= yield(:subindex_right) %></div>
</div>

</div>
