<%= bootstrap_form_for(@article, :html => { :multipart => true}) do |f| %>
    <%= f.text_field :title , hide_label: true , placeholder: "A title for this submission" %>
    <%= f.cktext_area :body , height: '180', hide_label: true , placeholder: "Here you go..." %></br>
    <%= f.file_field :cover %>
    <%# f.text_field :created_at , "data-behaviour"=>"datepicker", placeholder: "yyyy/mm/dd" %>
    <%= f.hidden_field :category_id , value: @cat.id %>
    <% if can? :superedit , @article and !@article.new_record? %>
      <%= f.collection_select :category_id , Category.all , :id , :formatted_name , prompt: "Select Category" %>
      <%= f.text_field :created_at , "data-behaviour" => "datetimepicker" , placeholder: "yyyy-mm-dd" , value: @article.created_at.strftime('%Y %B %d, %k:%M ') , icon: 'calendar' %>
    <% end %>
    <%= f.text_field :remarks , label: "Editing remarks" , placeholder: "What was edited?" , icon: 'comment' unless @article.new_record?%>
    <%= f.form_group do %>
      <%= f.submit 'Submit' , class: 'btn btn-success' %>
    <% end %>
<% end %>
