<% if can? :read_versions , @article %>

<h3>
    Versions <b>(<%= @article.versions.length + 1 %>)</b>
</h3>
  <% @article.versions.reverse.each do |a| %>
    <%= link_to pretty_created_at(a),
    				version_article_path(@article , a),
    				class: ('version-active' if a.id == @ver.to_i or (!@ver and @article.latest_version == a.id)) %>
  </br>
  <% end %>
<%= link_to 'Original Version', version_article_path(@article, :original) , class: ("version-active" if @ver == 'original') %>

<% end %>