<%= fields_for @article do |f| %>
  <%= f.button 'Comment', value: 'workroom.comment', class: 'btn btn-default' %>
  <%= link_to 'Edit Node', edit_article_path(@article) , class: "btn btn-default" if can? :update , @article %>
  <%= link_to 'Assignment', assign_article_path(@article) , class: "btn btn-default" if can? :manage , Assignment %>
  <%= workflow_form_controls(@article) if can? :superedit , @article %>
<% end %>
