<%= render layout: 'category_sugar' do %>

<h4>WorkRoom for <%= link_to @article.title , @article %></h4>

<div class="alert-dark">Task creation and assignments dashboard</div>

<%= bootstrap_form_for @assignment , url: :assign_save_article , layout: :horizontal do |f| %>
	<%= f.collection_select :to_id , @teammates, :id, :username, {label: 'Assignee'} , class: 'selectpicker' %>
	<%= f.text_field :deadline , "data-behaviour" => "futurepicker" , placeholder: "yyyy-mm-dd" , value: @assignment.deadline.try(:to_date) %>
	<%= f.text_area :body, label: 'Remarks' , placeholder: 'Please add any extra remarks or guildelines for the editor here' %>
	<%= f.hidden_field :assignable_id %>
	<%= f.hidden_field :assignable_type %>
	<%= f.collection_select :tag , TaskType.where(assignable_type: 'Article'), :key, :title, {label: 'Nature'}, class: 'selectpicker show-tick'%>
	<div id="title_field" class:"hidden"><%= f.text_field :title %></div>
	<%= f.form_group do %>
		<%= f.submit :Assign , class: 'btn btn-danger' %>
		<%= link_to :Cancel , workroom_article_path , class: 'btn btn-default' %>
	<% end %>
<% end %>

<%= render 'shared/workroom_sidebar' %>

<% end %>

<script>
function toggle_title_field(trigger_field){
	if( trigger_field.val() == 'custom'){
			$('#title_field').show();
	}else{
			$('#title_field').hide();
	}
}

$('#assignment_tag').change(function(){
	toggle_title_field($(this));
});

$(document).ready(function(){
	toggle_title_field($('#assignment_tag'));
})
</script>
