<%= render layout: "category_sugar" do %>

<% if @feature %>
  <div id="featured" class="col-lg-7">
    <div class="pull-left article-thumb">
      <%= image_tag @feature.cover(:medium) , height: "140px" %>
    </div>

    <div>
      <h6>Featured today</h6>
      <h4><%= link_to @feature.title , @feature %></h4>
      <p><%= @feature.intro %></p>
    </div>
  </div>
<% end %>

<% @articles.each do |a| %>
  <div class="article-index-entry">
    <h4><%= link_to a.title , a %></h4>
    <p>
      <span class="avatar avatar-inline"><%= image_tag a.user.avatar(:inline) %></span>
      <%= link_to a.user.username , a.user %> · <%= time_ago(a.created_at) %>
    </p>
  </div>
<% end %>
<%= "Nothing yet" if @articles.blank? %>

<% end %>