<div class="alert alert-info">
Ideally the image must be made of resolution 800x400 by hand. If it isn't then crop it here.</div>

<%= form_for @article do |f| %>
  <div class="center">
  	<%= f.cropbox :cover , width: 800 %></div></br>
  	<div class='well col-xs-12'>
  		<%= f.crop_preview :cover , width: 350 %>
  			<b>Save if you're satisfied</b></br></br>
  			<%= f.submit 'Save' , class:"btn btn-success btn-lg" %>
  	</div>
<% end %>