<%= render layout: "category_sugar" do %>

  <h4>Editing submission <div class="badge badge-info"><%= @article.workflow_state %></div></h4>
  <%= render 'form' %>

<% content_for :index_right do %>
  <%= render 'versions_list' %>
<% end if can? :read_versions , @article %>

<% end %>
