<h2>Featuring <%= link_to @article.title , @article %></h2>
<div class="alert alert-success">The featuring workflow is work-in-progress. Currently only one article can be featured at a time. In later updates, you can pre-assign featured articles date-wise so that most of the "daily feature" system is automated.</div>

<%= form_tag :feature_article do %>
	<%= submit_tag "Whatever. Just feature this" , class: 'btn btn-danger' %>
<% end %>