</br><div class="alert alert-danger">
	<b>IMPORTANT</b></br>
	<p>Since we would rarely be rejecting content, this feature isn't implemented yet. Expect it to roll out in the next sayaahi update</p>
</div>

<h2>Rejecting <%= link_to @article.title , @article %></h2>
<div class="alert alert-success">It is polite to let the submitter know why this content was rejected. Please note that if the rejection was due to trivial reasons that you can fix as an editor, you may freely do so as per the sayaahi terms and conditions.</div>

<%= form_tag :reject_article do %>
	<%= text_area_tag :reason ,nil, id: 'edit',
						placeholder: 'Please provide the reason for rejection' %></br>
	<%= submit_tag :submit , class: 'btn btn-danger' %>
<% end %>