<%= render layout: 'category_sugar' do %>

<h1>
  <%= @article.title %>
  <%= link_to fa_icon(:pencil), edit_article_path , class:"small" if can? :edit , @article %>
  <%= link_to fa_icon(:flask), workroom_article_path , class:"small" if can? :work , @article %>
</h1>

<%= image_tag @article.cover(:large) , class: "responsive article-cover" if @article.cover.exists? %>

<p class="small">By <%= link_to "Sayaahi Team" , user_path('sayaahi.team')  %> · <b><%= @article.created_at.strftime('%b %d, %Y') %></b></p>

<%= @article.body.html_safe %>

<div id="comments_area" class="col-xs-11" %>
  <h3>Comments</h3>
  <%= nested_comments @comments %>
  <% unless current_user %>
  <div class="alert alert-danger small">
  You are commenting as a guest. As a result you cannot edit the comment once you post it. Also, the comment shall be approved by a moderator before going public. You may consider <%= link_to "signing up." , new_user_registration_path %>
  </div>
  <% end %>
  <%= render 'comments/form' %>
</div>

<%= content_for :subfooter do %>
    <div class="col-sm-offset-2 col-sm-4">
      <table class="table">
        <h4><%= fa_icon 'plus-circle' %> More <%= @cat.name.pluralize %></h4>
        <% @more.each do |a| %>
          <tr>
            <td><%= link_to a.title , a %></td>
          </tr>
        <% end %>
        <%= "<h3>Nothing yet :'(</h3>".html_safe if @more.blank? %>
      </table>
    </div>
<% end %>

<% end %>
