<%= render layout: 'category_sugar' do %>

<div class="col-lg-12">
  <h4>
    Version #<%= @ver %>&nbsp&nbsp
    <%= link_to 'Use' , edit_article_path(@article, version: @ver) , class: 'btn btn-default btn-sm' %>
  </h4>

  <h1><%= xdiff(@article.previous_version.try(:title),@article.title) %></h1>

  <div class="alert-dark">This edit by: <%= link_to @editor.username , @editor %></div>

  <p><%= xdiff(@article.previous_version.try(:body),@article.body) %></p>

  <div><b><%= link_to @article.user.username , @article.user %></b> · <%= @article.created_at.strftime('%b %d') %></div>
</div>


<% content_for :index_right do %>
  <%= render 'versions_list' %>
<% end %>

<% end %>