<%= render layout: 'category_sugar' do %>
<h4>WorkRoom for <%= link_to @article.title , @article %></h4>

<%= bootstrap_form_tag path: workroom_article_path do |f| %>
	<%= f.text_area :remarks %>
	<%= render 'workflow_form_controls' %>
<% end %></br>

<% @activities.each do |activity| %>
  <div class= "activity activity-<%= activity.key.gsub(/[._]/,'-') %>" >
    <div class="icon"></div>
    <div class="main">
      <%= render_activity activity , root: 'public_activity/feeds' %>
    </div>
    <div class="time"><%= time_ago(activity.created_at) %></div>
  </div>
<% end %>

<%= render 'shared/workroom_sidebar' %>

<% end %>
