<%= bootstrap_form_for @newsletter , layout: :horizontal , label_col: "col-md-1 col-xs-2" do |f| %>

  <%= f.text_field :title %>
  <%= f.text_area :body , id: 'edit' %>
  <%= f.select :category , Newsletter.categories %>
  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>
<% end %>
