<h1>Newsletters Control &nbsp<%= link_to 'Create', new_newsletter_path , class: "btn btn-default" %></h1>
<div class="alert alert-info">
Welcome to the newsletters control. Use carefully since whatever we do here cannot be reversed.
</div>

<table class="table table-striped">

<% @newsletters.each do |newsletter| %>
  <tr>
    <td class="col-md-2 col-xs-3"><%= pretty_created_at(newsletter) %></td>
    <td class="col-md-1"><%= render 'status' , locals: newsletter %></td>
    <td><%= link_to newsletter.title , newsletter%>&nbsp
    <span class="badge"><%= newsletter.category %></span></td>
    <td><%= newsletter.mailed %></td>
  </tr>
<% end %>

</table>

<br>
