<div style="max-width: 600px;margin-left:auto;margin-right:auto;">
<div style="background-color:#ccc;"><h1>Mail Preview</h1></div>
<%= render "newsletter_mailer/header" %>
<%= Premailer.new( @body.render(@newsletter.liquid_legend(User.first)).html_safe,
					with_html_string: true,
					css_string: Rails.application.assets.find_asset('mail.css').body
				).to_inline_css.html_safe %>
<%= render "newsletter_mailer/footer" %>
</div>