<div id="newsletter_sidebar" class="col-md-1 text-center">
  <div><%= @newsletter.created_at.strftime('<h2 class="subbed">%d</h2> %b').html_safe %></div>
  <div class="label label-primary"><%= @newsletter.category %></div>
  <%= render 'status' %>
</div>

<div class="col-md-11">
 <h3><%= link_to "Newsletters > " , newsletters_path %><%= @newsletter.title %></h3>
 <div id="mail_preview"><%= @body.render(@newsletter.liquid_legend(User.first)).html_safe %></div>
 <%= link_to "Edit" , edit_newsletter_path , class: "btn btn-default" %>
 <%= link_to "Preview" , preview_newsletter_path , class: "btn btn-default" %>
 <%= link_to "Test" , mail_newsletter_path(test: 'true') , class: "btn btn-success" %>
 <%= link_to "Send" , mail_newsletter_path , class: "btn btn-danger" %>
</div>