<h1>Notifications</h1>
<p class="text-md">You have <%= pluralize(notifications_count,'new notification') %></p>
<table class="table table-striped mar-t-10">
<% @activities.each do |a| %>
 	 <tr>
		<td <%= "class= danger" if !a.read? %> >
			<%= render_activity a , root: 'public_activity/notifications' %>
		<span class="text-sm text-lighter"><%= time_ago(a.created_at) %></span></td>
	</tr>
	<% a.update_attribute(:read,true) %>
<% end %>
</table>

<%= paginate @activities %>