<%= bootstrap_form_for @user , layout: :horizontal , label_col: "col-lg-2" , control_col: "col-lg-10" do |f| %>
    <%= f.text_field :dob , value: @dob, "data-behaviour"=>"datepicker", label: "Birthday" , placeholder: "yyyy/mm/dd" %>
    <%= f.select :gender , {'Female'=>'female','Male'=>'male'} , :prompt => "Select Gender"%>
    <%= f.file_field :avatar %>
    <%= f.text_area :body , placeholder: "An introduction to yourself for your profile. Can be long", id: :edit %>
    <%= f.text_area :intro , placeholder: "An intro for use in your articles. Must be short and in 3rd person" %>
    <%= f.form_group do %>
      <%= f.submit %>
      <%= link_to "Account Settings", edit_registration_path(@user) , class: "btn btn-primary" %>
    <% end %>
<% end %>