<div class="alert alert-info">
Ideally the image must be made of resolution 300x300 by hand. If it isn't then crop it here.</div>

<%= form_for @user do |f| %>
  <div class="center">
  	<%= f.cropbox :avatar , width: 300 %></div></br>
  	<div class='well col-xs-12'>
  		<%= f.crop_preview :avatar , width: 300 %>
  			<b>Save if you're satisfied</b></br></br>
  			<%= f.submit 'Save' , class:"btn btn-success btn-lg" %>
  	</div>
<% end %>