<h1>Listing users</h1>

<table class="table table-striped">

  <tbody>
    <% @users.each_with_index do |user,i| %>
      <tr>
        <td><%= i %></td>
        <td><%= link_to user.username , user %></td>
        <td><%= user.fullname %></td>
        <td><%= user.email %></td>
        <td><%= pretty_created_at user %></td>
      </tr>
    <% end %>
  </tbody>
</table>