<div class="col-xs-12">

  <h1 class="center-xs underline-xs">
    user:<%= link_to @user.username , @user %>
  </h1>

  <div id="user_overview" class="avatar pull-left text-center">
    <%= image_tag @user.avatar(:thumb) %>
    <p><b><%= time_ago(@user.dob,"old") %></b></p>
    <p class="sub"><b><%= @user.gender == 'male'? "Male" : "Female" %></b></p>
    <p class="small"> Member for <%= time_ago(@user.created_at, '' ) %></p>
    <%= link_to 'Edit', edit_user_path(@user) , class: "btn btn-default" if can? :update , @user %>
  </div>

  <div class="col-md-5">
    <% if @user.body %>
      <%= @user.body.html_safe %>
    <% else %>
      <p>Either the user did not provide an introduction, or the introduction was blocked for some reason.</p>
    <% end %>
  </div>

  <div class="spacer-xs"></div>

  <div class="col-sm-5 col-xs-12 center-xs">
    <% if @articles.any? %>
      <th><h6>Contributions</h6></th>
      <table class="table table-striped">
        <% @articles.each do |a| %>
        <tr>
          <td><%= link_to a.title , a %>
          <p class="small"><%= a.created_at.strftime('%d %b %y') %></p></td>
        </tr>
        <% end %>
      </table>
    <% else %>
      <p>The user hasn't made any contribution.<b> Yet.</b></p>
    <% end %>
  </div>

</div>