<% @page_title = "Password Reset" %>
<h2>Change your password</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, layout: :horizontal, label_col: "col-sm-1" , control_col: "col-sm-9 col-md-5") do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

    <%= f.password_field :password, autofocus: true, label: "New Password" , autocomplete: "off" %>
    <%= f.password_field :password_confirmation, label: "Reconfirm" , autocomplete: "off" %>

  <%= f.submit "Change my password" %>
  <%= render "devise/shared/links" %>
<% end %>
