<% @page_title = "Password Recovery" %>
<h2>Forgot your password?</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<%= devise_error_messages! %>
  <%= f.text_field :login, hide_label: true, placeholder: "Enter username or email address" , autofocus: true %></div>

  <%= f.submit "Send me reset password instructions" %>
<% end %>

<%= render "devise/shared/links" %>