<h2>Admin > Internal Feedback</h2>
<div class="alert alert-success">
  Here you can read feedback that was posted especially to the editors team. If it was posted here by accident, please move it back to the public feedback lounge.</div>
<%= render 'feedbacks/list' %>