<%= bootstrap_form_for( [:admin, @task_type]) do |f| %>

    <%= f.text_field :key %>
    <%= f.text_field :title %>
    <%= f.text_field :guide_page_slug , label: "Guidelines" , placeholder: "Machine name of linked guidelines page" %>
    <%= f.text_area :body %>
    <%= f.text_field :assignable_type %>
    <%= f.number_field :assignee_limit %>
    <%= f.submit %>
  </div>
<% end %>
