<h1>Task Types</h1>

<% @task_types.group_by(&:assignable_type).each do |assignable_type,t| %>
<h4><%= assignable_type %></h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Key</th>
      <th>Title</th>
      <th>About</th>
      <th>Limit</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% t.each do |task_type| %>
      <tr>
        <td><%= task_type.key %></td>
        <td><%= task_type.title %></td>
        <td><%= task_type.body %></td>
        <td><%= task_type.assignee_limit %></td>
        <td><%= link_to (fa_icon :pencil), edit_admin_task_type_path(task_type) %></td>
        <td><%= link_to (fa_icon :close), [:admin,task_type], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'New Task type', new_admin_task_type_path %>
