<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @task_type.key %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task_type.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @task_type.body %>
</p>

<p>
  <strong>Assignable type:</strong>
  <%= @task_type.assignable_type %>
</p>

<p>
  <strong>Assignee limit:</strong>
  <%= @task_type.assignee_limit %>
</p>

<%= link_to 'Edit', edit_admin_task_type_path(@task_type) %> |
