.sub{margin-top: -10px;} /* Use for subtitles*/
.subbed{margin-bottom: 0px;} /* Use with headings with subtitles */
.text-sm{font-size: 85%;}
.link-alt a{color: #333;&:hover{color: $theme-color}}
.bg-red {background-color: red;} // For Badges
.bg-light{background-color: #aaa;color: #fff;}
.bg-dark{background-color: #333}
.badge-sm{font-size: 10px !important;font-family: $font-family-base; padding: 4px 6px 3px 6px;}
.themed{color: $theme-color;}
.smaller{font-size: 0.8em; color: #888;a{font-size: 0.8em;}}
.table-bordered{
  thead{background-color: #bbb;}
}
.alert-dark{
  background-color: #111;
  color: #ccc;
  font-size: 12px;
  padding: 5px 15px;
  margin: 10px 0 15px 0;
  border-radius: 3px;
}

.btn.current {@extend .btn-danger;}
.head{
  margin: -5px -15px 20px -15px;
  padding: 15px 20px;
  color: #fff;
  height: 70px;
  a{color: #fff;}
  a:hover{color: rgba(255,255,255,0.5)}
}

.outlined{
  border: 1px solid #fff;
  margin-bottom: 10px;
  display: inline-block;
  padding: 5px 10px;
}

.outlined-dark{
  border-color: #aaa;
}

.vertical-list{
  ul{
    list-style: none;
    padding-left: 0;
    li{
      a,&{color: #666;}
      a:hover{color: #000;}
      border-bottom: 1px solid #ccc;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 10px;
      &.current {background-color: #ccc;font-weight: bold;}
    }
  }
}

.vertical-links{
  a{
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
  }
}



.assignment-entry{
  a{font-weight: bold;}
  .small{color: #666;}
  margin-bottom: 18px;
  margin-left: 5px;
  .badge{font-size: 0.8em;vertical-align: top; margin-left: 4px;}
}

.assignment-entry-main{
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -3px;
  color: #666;
}

.marginless-top{
  margin-top: 0px;
}
