@font-face {
  font-family: 'chunkfive';
  src: font-url('chunkfive-webfont.eot');
  src: font-url('chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('chunkfive-webfont.woff2') format('woff2'),
       font-url('chunkfive-webfont.woff') format('woff'),
       font-url('chunkfive-webfont.ttf') format('truetype'),
       font-url('chunkfive-webfont.svg#chunkfiveroman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweather';
  src: font_url('merriweather.woff');
  src: font_url('merriweather.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'adam.cg';
    src: font-url('adam.cg_pro-webfont.eot');
    src: font-url('adam.cg_pro-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('adam.cg_pro-webfont.woff2') format('woff2'),
         font-url('adam.cg_pro-webfont.woff') format('woff'),
         font-url('adam.cg_pro-webfont.ttf') format('truetype'),
         font-url('adam.cg_pro-webfont.svg#adam.cg_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}