html {
  overflow-y: scroll;
}

body{
  margin: 0px;
  font-family: 'merriweather', serif;
  background-color: #222;
  padding: 30px;
}

img.responsive{max-width: 100%;height: auto;}

#navbar{
  background-color: #000;
  height: 30px;
  color: #fff;
  line-height: 30px;
  padding: 0 15px;
  margin-bottom: 5px;
  #title{font-family: 'adam.cg';font-size: 14px;}
}

#header{padding-bottom: 30px;color: #fff;font-family: 'adam.cg'}
#admin_btn, #team_btn{margin-right: -10px;margin-left: 10px;height: 22px;}
#admin_menu{
  background-color: $brand-danger;
}
#team_menu{
  background-color: $brand-primary;
}
#admin_menu , #team_menu{
  a{color: #fff; padding: 0px 10px 0px 10px; &:hover{ color: #ccc; }}
  font-size: 0.8em;
  margin-right: -10px;
}

#logo img{width: 115px;}
#navlinks{bottom: 10px;left: 120px; position: absolute;}
#navlinks ul{list-style: none;}
#navlinks li{
  display: inline;line-height: 35px;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 6px;
  margin-left: 3px;
  &.active{border: 1px solid $theme-color;color: #fff;&:hover{color: $theme-color;cursor: pointer;}}
}

#navlinks a{
  color: #fff;
  &:hover{color: $theme-color;}
}

#header_right{
  text-align: right;
  position: absolute;
  bottom: 25px;
  right: -15px;
  div{margin-bottom: 2px;font-size: 25px;}
  a{background-color: $theme-color; padding: 2px 8px;color: #000; font-size: 14px;margin-top: -4px;
    &:hover{background-color: #ccc;}}
}

#content{
  padding-bottom: 35px;
  background: #fff image-url('bg.png') repeat-x;
}

#subfooter{
  background-color: #000;
  a{color: #000;&:hover{color: #222;}}
  padding-top: 15px;
  td{border-top: 1px solid rgba(0,0,0,0.3);}
  margin-top: 15px;
  width: 100%;
  float: left;
  #title{font-family: 'adam.cg';font-size: 14px;}
  margin-bottom: -30px;
}

#footer{
  font-size: 70%;
  font-weight: bold;
  color: #666;
  background-color: #000;
  height: 35px;
  line-height: 35px;
  a{
    color: #ccc;
    text-transform: uppercase;
    &:hover{color: #fff}
  }
}

#infrafooter{
  margin: 10px auto;
  font-size: 0.85em;
  a{color: #666}
}

#index_right{
  margin-bottom: 20px;
}

.widget{
  max-width: 250px;
}

@media (min-width: $screen-sm-min) and  (max-width: $screen-sm-max) {
  #dl-menu{float: left;margin-top: 65px;margin-left: 15px;}
}

@media (max-width: $screen-xs-max) {
  body{padding: 20px 10px;}
  #logo img{width: 200px;height: auto;}
  #logo, #navlinks{float: none !important;}
  #navlinks{position: relative; left: 0; bottom: 0; text-align: center;li{display: block;}}
  #dl-menu{position: absolute;left: 0px;top: 0px;}
  #header_news{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    float:none !important;
    text-align: center;
    p{font-size: 14px;};
    h5{font-size: 20px;}}
  .center-xs{text-align: center;margin-left: 0 !important;margin-right: 0;float: none !important;}
  .small-xs{p{font-size: 90%}}
  .spacer-xs{height: 15px;width: 100%;display: inline-block;}
  .underline-xs{border-bottom: 1px solid #aaa;padding-bottom: 5px;margin-bottom: 15px;}
  #header{margin: 0px;}
  #article_side_box {
    width: 250px;
    img{width: 230px;}
  }
  h1{font-size: 30px;word-wrap: break-word;}
  .widget{max-width: none; background-color: #eee;padding: 20px 0 5px 0;}
  #content{padding-bottom: 40px;}
 }

 .layout-table{
  width: 100%;
  td{vertical-align: middle;padding: 8px;}
 }

 .sandwitched{
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  margin-bottom: 8px;
  margin-top:  8px;
 }

 #ad{
  background-color: #ccc;
  text-align: center;
  padding: 8px;
  margin-top: 10px;
 }

 img.ad{
  width: 100%;
  height: auto;
 }
