h4{
  font-family: 'adam.cg'
}

h5{
  font-family: 'chunkfive';
  font-size: 30px;
}

h6{
  font-family: 'chunkfive';
  font-size: 22px;
  color: #666;
  margin-top: 0px;
}

del{
  background-color: #FFB1B1;
  text-decoration: none;
  padding: 0 3px;
}

ins{
  background-color: #9EFFBA;
  text-decoration: none;
  padding: 0 3px;
}

a{transition: all 0.3s linear;-moz-transition: all 0.3s linear;-webkit-transition: all 0.3s linear;-o-transition: all 0.3s linear;}

a:hover{
  text-decoration: none;
  background: transparent;
  color: #0065cc;
}