<div class="widget">
<table class="table table-sidebar">
  <h5>Latest Articles</h5>
  <% Article.first(5).each do |a| %>
    <tr>
      <td><%= link_to a.title , a %></td>
    </tr>
  <% end %>
</table>
</div>