<div class="widget">
<table class="table table-sidebar">
  <h5>Latest Stories</h5>
  <% Story.where(workflow_state: 'accepted').first(5).each do |s| %>
    <tr>
      <td><%= link_to s.title , s %></td>
    </tr>
  <% end %>
</table>
</div>