<%#FOR MOBILE %>
<div id="dl-menu" class="dl-menuwrapper visible-xs visible-sm">
	<button class="dl-trigger">Open Menu</button>
	<ul class="dl-menu">

		<% Category.all.order(:weight).each do |c| %>
			<li><%= link_to c.name , category_path(c.slug) %></li>
    <% end %>

		<li>
			<a href="#">More ></a>
			<ul class="dl-submenu">
				<li><%= link_to 'About Us' , page_path('about-us') %></li>
				<li><%= link_to 'Contact Us' , page_path('contact-us') %></li>
			</ul>
		</li>
	</ul>
</div><!-- /dl-menuwrapper -->

<%# FOR EVERYTHING ELSE %>
<div id="navlinks", class="pull-left hidden-xs hidden-sm">
	<%= tabs_tag builder: MenuTabBuilder do |tab| %>
		<% Category.all.order(:weight).each do |c| %>
		  <%= tab.send "#{c.slug}" , c.name , category_path(c.slug) %>
		  <%# tab.opinion 'Social & Morality' , opinions_path %>
		  <%# tab.observation 'Politics' , observations_path %>
		  <%# tab.assignments 'Assignments' , assignments_path %>
  	<% end %>
	<% end %>
</div>
