<title><%= @page_title ? @page_title + ' | Sayaahi.com ' : 'Sayaahi.com' %></title>

<%= analytics_init if Rails.env.production? %>

<% if !@page_description.blank? %>
	<meta name="description" content= "<%= @page_description.tr(?", ?') %>">
	<meta property="og:description" content= "<%= @page_description.tr(?", ?') %>" />
<% end %>

<% @og_image ||= 'sayaahi-og.png' %>
<meta property="og:image" content= "<%= URI.join(root_url, image_path(@og_image)) %>" >
<meta property="fb:app_id" content= "<%= Figaro.env.facebook_application_id %>" />
<meta property="og:title" content= "<%= @page_title %>" />
<meta property="og:type" content= "<%= @og_type || 'article' %>" />
<meta property="og:url" content= "<%= request.original_url %>" />

<%= csrf_meta_tag %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="theme-color" content="#009b99" />