<% if content_for? :subfooter %> 
  <div id="subfooter_wrapper" class="row">
    <div id="subfooter" style="background-color:<%= @cat.try(:color_light) %>">
      <div class="row"><%= yield :subfooter %></div>
    </div>
  </div>
<% end %>