<div id="userlinks" class="center-xs pull-right">
<% if current_user %>
	<div class="badge <%= 'bg-red' if notifications_count > 0 %>">
    <%= link_to notifications_count , notifications_path %>
  </div>
  	Welcome <b><%= current_user.username %></b>
    <span class="dropdown">
      <%= link_to '#' , id: 'dl1' , style:"color:#fff", 'data-toggle'=>'dropdown' do %>
      <span class="glyphicon glyphicon-chevron-down"></span><% end %>
      <ul class="dropdown-menu dropdown-menu-right text-right" role="menu" aria-labelledby="dl1">
        <li role="presentation"><%= link_to 'My Profile' , user_path(current_user) %></li>
        <li role="presentation"><%= link_to 'Settings' , edit_user_registration_path %></li>
				<li role="separator" class="divider"></li>
        <li role="presentation"><%= link_to 'Logout' , destroy_user_session_path , method: :delete %></li>
      </ul>
    </span>

		<% if can? :access , :team_menu %>
			<span class="dropdown">
				<%= link_to '#' , id: 'dl1' , 'data-toggle'=>'dropdown' do %>
				<div class="btn btn-xs btn-primary" id="team_btn">Team</div><% end%>
				<ul class="dropdown-menu dropdown-menu-right text-right" id="team_menu" role="menu" aria-labelledby="dl2">
					<li role="presentation"><%= link_to 'Assignments' , assignments_path %></li>
					<li role="presentation"><%= link_to "New Assign" , new_assignment_path %></li>
				</ul>
			</span>
		<% end %>

		<% if can? :access , :admin_pages %>
			<span class="dropdown">
	      <%= link_to '#' , id: 'dl1' , 'data-toggle'=>'dropdown' do %>
	      <div class="btn btn-xs btn-danger" id="admin_btn">Admin</div><% end%>
	      <ul class="dropdown-menu dropdown-menu-right text-right" id="admin_menu" role="menu" aria-labelledby="dl2">
						<li role="presentation"><%= link_to 'Admin Home' , admin_root_path %></li>
						<li role="presentation"><%= link_to "Articles" , admin_articles_path %></li>
						<li role="presentation"><%= link_to "Comments" , admin_comments_path %></li>
						<li role="presentation"><%= link_to "Pages" , pages_path %></li>
						<li role="presentation"><%= link_to "Categories" , admin_categories_path %></li>
						<li role="presentation"><%= link_to "Updates" , updates_path %></li>
						<li role="presentation"><%= link_to "Errors" , admin_errors_path %></li>
						<li role="presentation"><%= link_to "Stats/Analytics" , admin_stats_path %></li>
						<li role="presentation"><%= link_to "Task types" , admin_task_types_path %></li>
						<li role="presentation"><%= link_to "Mailer" , newsletters_path %></li>
					<li role="presentation"><%= link_to 'Assignments Admin' , admin_assignments_path %></li>
	      </ul>
	    </span>
		<% end %>

<% else %>
  Welcome <b>guest</b> <%= link_to "Login" , new_user_session_path %>
<% end %>
</div>
