<% content_for :subindex_right do %>

<%# STATE %>
  <b>State:</b> <span class="badge"><%= @article.workflow_state %></span></br>

<%# EDITING ASSIGNMENT %>
  <% if @article.editing_assignment %>
  <h5>
    Editor:
    <%= link_to_user @article.editing_assignment.to_id %>
    <span class="badge badge-sm"><%= @article.editing_assignment.status %></span></br>
  </h5>
  <% end %>

<%# SUBEDITING ASSIGNMENT %>
  <% if @article.subediting_assignment %>
  <h5>
    Subeditor:
    <%= link_to_user @article.subediting_assignment.to_id %>
    <span class="badge badge-sm"><%= @article.subediting_assignment.status %></span></br>
  </h5>
  <% end %>

<%# TASKS %>
  <% if @article.custom_assignments.any? %>
    <div id="index_right" class="col-xs-12" style="background-color: <%= @cat.color_light || "#ccc" %>" >
      <h5>Tasks</h5>
      <% @article.custom_assignments.each do |assignment| %>
          <%= link_to assignment.title , assignment %>
          <p class="small">
            Assigned to: <%= link_to assignment.assignee.username , assignment.assignee %> -
            <span class="badge-sm"><%= assignment.status %></span>
          </p>
      <% end %>
    </div>
  <% end %>

<%# javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick" %>
  <h3>Visits</h3>
  <%= line_chart @article.events.group_by_day(:time).count %>
<% end %>
