<%# activity.owner stores the assignment object %>
<%# Most other article activities have the user object stored in it instead %>
<%# That's because all those activities use a common activity creation scipt %>
<%# ... in form of the workflow_form_controls helper method. _assign skips it %>

<% @assignment_name = ( activity.owner.tag == "custom" ? activity.owner.title : activity.owner.tag) %>
<div class="title">
	<%= link_to activity.owner.assignee.username , activity.owner.assignee %> was assigned: <b><%= @assignment_name %></b>
</div>

<p>
<%= activity.owner.body %>
</p>
