<div class="title">
Category Changed
</div>

<p>
From <b><%= Category.find(a.parameters[:from]).name %></b> to <b><%= Category.find(a.parameters[:to]).name %></b> by <%= link_to a.owner.username , a.owner %>
</p>