<div class="title">
The node was rejected (By <%= activity.owner ? link_to(activity.owner.username , activity.owner) : "unknown user" %>)
</div>

<p>
<%= "<b>Reason:</b>#{activity.parameters[:remarks]}".html_safe if activity.parameters[:remarks].present?  %>
</p>