<div class="title">
The node was accepted back (By <%= activity.owner ? link_to(activity.owner.username , activity.owner) : "unknown user" %>) post-rejection.
</div>

<p>
<%= activity.parameters[:remarks] %>
</p>