<div class="title">
	The article was
	<%= activity.parameters[:version] ? link_to("edited",version_article_path(activity.trackable, activity.parameters[:version])) : "edited" %>
	(By <%= activity.owner ? link_to(activity.owner.username,activity.owner) : "user unavailable" %>)
</div>

<p>
<%= activity.parameters[:remarks] %>
</p>