New comment on your article 

<% if !a.trackable %>
	which has since been deleted
<% else %>
	<%= link_to a.trackable.title , a.trackable %>
<% end %>
by
<% if a.owner %>
  <%= link_to a.owner.username , a.owner %>
<% else %>
  Guest
<% end %>