<%= bootstrap_form_for @page, layout: :horizontal , label_col: "col-sm-1" , control_col: "col-sm-11" do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :slug ,label: "Link" , placeholder: "Leave blank to enable auto generation" %>
  <div class="form-group">
  	<label class="control-label col-sm-1">Body</label>
  	<div class="col-sm-11"><%= f.cktext_area :body %></div>
  </div>
  <%= f.text_area :teaser %>
  <%= f.form_group label_col: "col-sm-1" do %>
    <%= f.submit %>
  <% end %>
<% end %>
