<div id="home_side" class="col-sm-4 hidden-xs">
<p><%= Page.friendly.find('intro').body.html_safe %></p>
</div>

<div class="col-sm-8">
<h5 class="center-xs"><%= fa_icon 'fire' , text: 'The KnowStream' %></h5>
<div id="articles_list">
  <% @articles.each do |a| %>
    <div class="col-xs-12 article-index-entry">
      <div class="tagline col-xs-12 center-xs"><%= time_ago(a.created_at) %></div>

        <div class="row">
          <% if a.cover.present? %>
            <div class= "image-cell col-lg-4 col-sm-5 center-xs">
              <%= image_tag a.cover(:medium) , class: "responsive" %>
            </div>
            <div class="main-cell col-lg-8 col-sm-7 center-xs">
          <% else %>
            <div class="main-cell col-xs-12 center-xs">
          <% end %>
              <div class="title"><%= mini_badge_for(a.category) %><%= link_to a.title , a %></div>
              <p><%= raw strip_tags(a.body.truncate(260, separator: ' ', omission: ' (continued...)')) %></p>
            </div>
      </div>
    </div>
  <% end %>
</div></div>

<div class="text-center"><%= paginate @articles %></div>
