<div class="col-xs-12">
  <h1 class="center-xs">
    <%= @page.title %>
    <%= link_to "Edit" , edit_page_path , class: "btn btn-default" if can? :update , @page %>
  </h1>

  <%= @page.body.html_safe %>
</div>