<!DOCTYPE html>
<html>
<head>
<title>Welcome to Sayaahi.com</title>
<style>
	body{background-color: #111;color: #fff;text-align: center;}
	#container{margin-left: auto;margin-right: auto;width: 300px;padding-top: 40px;}
	h1{font-family: 'Arial Helvetica';font-weight: normal;font-size: 20px;}
</style>
</head>

<body>
<div id="container">
<%= image_tag 'sayaahi-logo.png' %>
<h1>The Inkmen are coming...</h1>
<%= form_tag '/splash' do %>
<%= text_field_tag :key ,nil, placeholder: 'Enter the secret key for beta' %>
<% end %>
</div>

</body>

</html>