<h1>Assignments Dashboard <%= link_to "New" , new_assignment_path , class: "btn btn-primary" %></h1>

<table class="table table-striped">

  <tbody>
    <% @assignments.each do |a| %>
      <tr>
        <td nowrap class="text-right"><%= styled_tag(a.tag) %></td>
        <td class="link-alt"><%= link_to (a.assignable.try(:title) || a.title), a %></td>
        <td><%= link_to a.assignee.username , a.assignee %></td>
        <td><%= time_ago(a.created_at) %></td>
        <td><%= link_to (fa_icon :close) , a, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, a %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @assignments.blank? %>
  <div class= 'alert alert-info'>Nothing to do.</div>
<% end %>