<p id="notice"><%= notice %></p>

<h1>Error Log</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Class name</th>
      <th>User info</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_errors.each do |admin_error| %>
      <tr>
        <td>
          <%= link_to admin_error.class_name , admin_error%></br>
          <small><%= time_ago(admin_error.created_at) %></small>
        </td>
        <td><%= admin_error.user_info %></td>
        <td><%= link_to 'Destroy', admin_error, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
