<h1>
  <%= @admin_error.class_name %>
  </br><small><%= pretty_created_at @admin_error %></small>
</h1>

<pre>
  <%= @admin_error.message %>
</pre>

<p>
  <strong>Params:</strong>
  <%= @admin_error.params %>
</p>

<p>
  <strong>Target url:</strong>
  <%= @admin_error.target_url %>
</p>

<p>
  <strong>User agent:</strong>
  <%= @admin_error.user_agent %>
</p>

<p>
  <strong>User info:</strong>
  <%= @admin_error.user_info %>
</p>

<div class="alert alert-danger">Trace logging is disabled for Sayaahi. Enable it in configuration, if it is required</div>