<% @page_title = "Login" %>
</br>

<div class="col-xs-5 small-xs">
<h5>Hello there!</h5>
<p>Welcome to Sayaahi.com</p>
<p>If you do not already have an account, please create one now. An account enables you to post your contributions, as well to comment without needing moderator review. Creating an account should only take a few minutes</p>
</div>

<div class="col-xs-6 pull-right alert alert-info">
  <%= bootstrap_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
    <%= f.text_field :login, label: 'Username or email' , autofocus: true %>
    <%= f.password_field :password, autocomplete: "off" %>

    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
    <% end -%>

    <%= f.submit "Sign in" %><%= render "devise/shared/links" %>
  <% end %>
</div>