<%= bootstrap_form_for @update do |f| %>
    <%= f.text_field :title %>
    <%= f.cktext_area :body %></br>
    <%= f.file_field :promo , help: "Min 800x400px. Max 2.5MB." %>
    <%= f.check_box :active %>
    <%= f.submit :Submit , class: 'btn btn-primary' %>
  </div>
<% end %>
