<h2>News and Updates
<%= link_to 'New Update', new_update_path , class: "btn btn-default" if can? :create , Update %>
</h2>

<table class="table table-striped">
  <tbody>
    <% @updates.each do |update| %>
      <tr>
        <td><%= link_to update.title , update %></td>
        <td><%= pretty_created_at(update) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @updates %>

<% content_for :sidebar do %>
  <div class="alert alert-warning">
    Keep visiting this page to stay in touch with latest News and updates relating to sayaahi.
  </div>
<% end %>