<div class="col-xs-12">
  <h1 class="center-xs">
      <%= @update.title %>&nbsp
      <%= link_to 'Edit', edit_update_path(@update) , class: "btn btn-default" if can? :update , @update %>
  </h1>

  <p>
    <%= @update.body.html_safe %>
  </p>
</div>