<%= bootstrap_form_for [:admin , @category] do |f| %>
	<%= f.text_field :name %>
	<%= f.text_field :slug , help: "Machine friendly name. Used in urls and internally." , placeholder: "Leave blank to auto set" %>
	<%= f.text_field :description %>
	<%= f.text_area :intro , id:'edit' %>
	<%= f.color_field :color_light %>
	<%= f.color_field :color_dark %>
	<%= f.text_field :icon , placeholder: 'enter fontawesome string' %>
	<%= f.number_field :weight %>
	<%= f.form_group do %>
		<%= f.submit %>
	<% end %>
<% end %>