<h2><%= link_to "Admin" , admin_root_path %> > Content Categories
<%= link_to "New" , new_admin_category_path , class:"btn btn-default" if can? :create , Category %>
</h2>

<table class="table table-striped">
	<% @categories.each do |a| %>
	<tr>
		<td class="col-sm-7"><%= link_to a.name , admin_category_path(a) %></td>
	</tr>
	<% end %>
</table>

<% if @categories.blank? %>
	<h1>Nothing to show :)</h1>
<% end %>