<h3>WARNING</h3>
<p>You are going to remove the channel: <%= link_to @category.name , @category %></p>
<p>It contains <b><%= @category.articles.count %></b> nodes.</p>
<p class="small">Non-empty categories cannot be deleted</p>
<%= link_to "Destroy" , admin_category_path , method: :delete , class: "btn btn-danger" %>