<h3>
	<%= link_to "Admin" , admin_root_path %> > 
	<%= link_to "Content Categories" , admin_categories_path %>
	> Showing details
</h3>

<div class="col-sm-9">
<%= badge_for @category %>
<%= link_to "Edit" , edit_admin_category_path , class:"btn btn-default" if can? :update , Category %>
<%= link_to "Remove" , remove_admin_category_path , class:"btn btn-danger" if can? :destroy , Category %>

</br>
<h4>Short Description:</h4>
<%= @category.description %>

<h4>Detailed:</h4>
<%= @category.intro.html_safe %>

</div>

<div class="col-sm-3">
	<%= fa_icon @category.icon , class: 'fa-lg' %></br>
</div>