<div style="background: #ddd;padding: 15px;font-size:14px;color:#666">
This mail was sent to you because you are a member of sayaahi.com
You can <%= link_to "unsubscribe" , edit_user_registration_url %>.
</div>