<h2>Sayaahi Analytics</h2>
<div class="alert alert-warning">Data here may differ from other tracking systems.</div>

<%= tabs_tag do |tab| %>
<%= tab.today 'Today' , {q: 'today'} , class: 'btn btn-default' %>
<%= tab.yesterday 'Yesterday' , {q: 'yesterday'} , class: 'btn btn-default' %>
<%= tab.month 'Month' , {q: 'month'} , class: 'btn btn-default' %>
<% end %>

<%# javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick" %>

<% if params[:q] == 'month' %>
<%= line_chart [
	{name: 'Views' , data: Ahoy::Event.group_by_day(:time, range: Date.today.all_month ).count},
	{name: 'Visits' , data: Visit.group_by_day(:started_at, range: Date.today.all_month).count }
	] , colors: ['#009b99','red'] %>
<% elsif params[:q] == 'yesterday' %>
<%= line_chart [
	{name: 'Views' , data: Ahoy::Event.group_by_hour(:time, range: 2.day.ago.midnight .. 1.day.ago.midnight).count},
	{name: 'Visits' , data: Visit.group_by_hour(:started_at, range: 2.day.ago.midnight .. 1.day.ago.midnight).count}
	] , colors: ['#009b99','red'] %>
<% else %>
<%= line_chart [
	{name: 'Views' , data: Ahoy::Event.group_by_hour(:time, range: Date.today.midnight .. Time.now).count},
	{name: 'Visits' , data: Visit.group_by_hour(:started_at, range: Date.today.midnight .. Time.now).count}
	] , colors: ['#009b99','red'] %>
<% end %>