<!DOCTYPE html>
<html>
<head>
<%= render 'shared/meta_tags' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%# google_webfonts_init(google: ['Merriweather','Prata']) %>
</head>

<body>
<%= render 'shared/alerts' %>

<div id="header" class="col-xs-12">
  <div id="logo" class="pull-left center-xs"><%= link_to image_tag('sayaahi-logo.png') , root_path %></div>
  <div id="header_right" class="col-sm-3 pull-right hidden-xs" >
    <div>Know Pakistan</div>
    <%= link_to "I'm in", page_path('i-m-in') %>
  </div>
  <%= render partial: 'shared/menu' %>
</div>

<div id="content" class="col-xs-12">

<div id="navbar" class="row" style="background-color:<%= @cat.try(:color_dark) %>">
  <div id="title" class="pull-left hidden-xs">Ink of Pakistan</div>
  <%= render 'shared/user_links' %>
</div>

<%= yield %>
<%= render 'shared/subfooter' %>
</div>

<div id="footer" class="col-xs-12">
  <span>All Rights Reserved.</span>&nbsp&nbsp&nbsp&nbsp
</div>

<div id="infrafooter" class="col-xs-12">
  <%= link_to "About us" , page_path('about-us') %>&nbsp&nbsp&nbsp&nbsp
  <%= link_to "Contact us" , page_path('contact-us') %>&nbsp&nbsp&nbsp&nbsp
  <%= link_to 'Updates' , updates_path %>
</div>

</body>
</html>
