//////////////////////////
// SUGAR
//////////////////////////

#index_left{
  text-align: center;
  img{width: 100px;};
  h1{font-family: 'chunkfive';font-size:23px;margin-top:5px;color: rgba(255,255,255,0.9)}
  p{font-size: 12px;color: rgba(255,255,255,0.7)}
  .fa{color: rgba(255,255,255,0.7);margin-top: 10px;margin-bottom: 10px;}
  padding: 15px;
  color: #fff;
  background-color: #333;
  margin-top: 10px;
}

#subindex_left{
  margin-top: 15px;
  padding: 15px;
  p{font-size: 16px;}
  color: #000;
  text-align: center;
}

#subindex_right{
  padding-top: 20px;
}

#index_right{
  p{font-size: 14px;color: #000;}
  background-color: #ccc;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
  display: inline-block;
  a{color: #333;&:hover{color: #000}};
  td{border-top: none;}
}

//////////////////////////
// SPECIFICS
//////////////////////////

#articles_index{
  h5{margin-bottom: 15px;}
}

.article-index-entry{
  p{font-size: 14px;margin-top: -7px;}
  a{color: #666;}
  a:hover{color: #000}
  h4{font-family: 'merriweather'}
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px auto;
  background-color: #eee;
}

#article_side{
  text-align: right;
}

.article-thumb{
  background-color: #ccc;
  padding: 5px;
}

.article-listing{
  a{color: #000;&:hover{color:#333;}}
  h4{margin-bottom: 1px;margin-top: 3px;}
  p{margin-bottom: 1px;}
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #ccc;
}

#articles_list{
  .image-cell {margin-right: -20px;margin-bottom: 10px;}
  .tagline{font-size: 13px;margin-left: -15px;margin-bottom: 5px;}
  .avatar-inline img{margin-right: 0;}
  td{padding: 7px;}
  a{color: #333;&:hover{color: $theme-color;}}
  .title{font-family: 'merriweather';font-weight: bold;font-size: 18px;margin-bottom: 10px;}
}

a.version-active{
  background-color: #000;
  color: #fff !important;
  padding: 0 3px;
  margin-right: -3px;
}

.article-cover{
  margin-bottom: 10px;
}
