.comment{
  background-color: #eee;
  border: #ddd 1px solid;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.comment-footer{
  margin-top: 10px;
  font-size: 90%;
}

.nested_comments {  
  margin-left: 30px;  
}

.comment form{
  margin-top: 10px;
}

.close-link{display: none;} // In use for comments