#avatar_box{text-align: center;}
#avatar_box a{color:#666;}
#avatar_box a:hover{color:$theme-color;}
.row-modified{
    margin-left: -15px;
    margin-right: -15px;
}

.avatar img,#avatar_crop_preview_wrapper{
border: 2px solid #aaa;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 border-radius: 50%;
}

.avatar-inline {
  img{
  border: 0px solid #000;
  margin-bottom: 0;margin-right: 5px;}
  display: inline-block;
  vertical-align: middle;
}

#user_overview{
  margin-right: 20px;
}